$headerPadding: 15px;
$headerBackgroundColor: darken(grey, 15%);
$headerImgParams: 100px;
$headerShadow: transparent; //lighten($headerBackgroundColor, 0%);
$headerLogShadow: darken($headerBackgroundColor, 10%);
$headerHeight: 100%;

$headerTextColor: white;
$headerTextMargin: 20px;
$pageBackground: lightgrey;
