.loginForm {
    width: 210px;!important;
    position: absolute;
    top: 65px;
    right: 135px;
    background: white;
    padding: 10px;
    z-index: 1000;!important;
    border-bottom: 49px;
    opacity: 0.8;

}